@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Judson:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;